#top-bar {
	width: 100%;
	height: 70px;
	/*position: sticky;*/
	background-color: #202020;
}
.icon {
	height: 26px;
	margin-top: 8px;
	margin-left: 8px;
	filter: invert(100%);
}
.icon1 {
	height: 43px;
	margin-left: 4px;
}
.icon2 {
	position: relative;
	height: 28px;
	left: -26px;
	margin-top: 7px;
}
.search {
	position: relative;
	left: 118%;
	width: 288%;
	height: 40px;
	outline: none;
	border: 1px #303030 solid;
	border-radius: 2px;
	margin-top: 1px;
	background-color: #121212;
	color: #E2E2E2;
	padding-left: 15px;
	font-family: 'Archivo';
	font-size: 20px
}
.search::placeholder {
	font-family: 'Archivo';
	font-size: 20px;
}
.btn1 {
	position: relative;
	width: 80px;
	padding-bottom: 15px;
	outline: none;
	border: none;
	left: 746px;
	top: 1px;
	background-color: #313131;
	background-image: url('search.png');
	background-size: 27% 48%;
	background-repeat: no-repeat;
	background-position: center;
}
.btn2 {
	position: relative;
	width: 40px;
	height: 40px;
	outline: none;
	border: none;
	left: 1037px;
	top: 3px;
	background-color: #202020;
	background-image: url('https://www.materialui.co/materialIcons/av/video_call_white_192x192.png');
	background-size: 75% 75%;
	background-repeat: no-repeat;
	background-position: center;
}
.btn3 {
	display: grid;
	grid-gap: 3px;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	justify-content: center;
	align-content: center;
	position: relative;
	width: 40px;
	height: 40px;
	outline: none;
	border: none;
	left: 1040px;
	top: 3px;
	background-color: #202020;
}
.white-box {
	width: 5px;
	height: 5px;
	/*margin: 0px;*/
	background-color: white;
}
.btn4 {
	position: relative;
	width: 40px;
	height: 40px;
	outline: none;
	border: none;
	left: 1046px;
	top: 3px;
	background-color: #202020;
	background-image: url('bell.png');
	background-size: 58% 66%;
	background-repeat: no-repeat;
	background-position: center;
}
.btn5 {
	position: relative;
	width: 40px;
	height: 40px;
	outline: none;
	border: none;
	left: 1060px;
	top: 3px;
	border-radius: 50px;
	background-size: 100% 100%;
	background-image: url('https://i.pinimg.com/originals/51/b9/b0/51b9b0a274a993750f3b6a9ad7a8d4ce.jpg');
}